@{
    ViewData["Title"] = "Cryptocurrencies";
}

<body>
    <h1>Cryptocurrencies</h1>
    <table id="crypto-table" border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price (USD)</th>
                <th>Market Cap (USD)</th>
            </tr>
        </thead>
        <tbody>
            <!-- Veriler burada gösterilecek -->
        </tbody>
    </table>
</body>
